// custom-variables.scss

// Import Bootstrap's variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Override Bootstrap's primary color
$primary: #4DA167;

// Other color overrides if needed
$secondary: #FCBA04;

$light-green: #93E5AB;
$dark-green: #4DA167;
$grey: #61707D;
$black: #000000;
$yellow: #FCBA04;
$blue: #42A9EE;
$body-bg: #fff;

// Coloured backgrounds
.bg-light-green {
    background-color: $light-green;
}

.bg-dark-green {
    background-color: $dark-green;
}

.bg-grey {
    background-color: $grey;
}

.bg-black {
    background-color: $black;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-white {
    background-color: #fff;
}

// Coloured borders
.bd-light-green {
    --bs-card-border-color: $light-green;
    border-color: $light-green;
}

.bd-dark-green {
    border-color: $dark-green;
}

.bd-grey {
    border-color: $grey;
}

.bd-black {
    border-color: $black;
}

.bd-yellow {
    border-color: $yellow;
}

// Components customization
.progress-thick {
    height: 20px;
}

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    light-green: $light-green,
    dark-green: $dark-green,
    grey: $grey,
    black: $black,
    yellow: $yellow,
    blue: $blue,
    body-bg: $body-bg,
);

// Import Bootstrap to generate the final CSS
@import "~bootstrap/scss/bootstrap";